{% extends "app/base.html" %}
{% block title %}Create{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" action="{% url 'create' %}" method="post">
            <div class="modal-header">
                <h5>Create</h5>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">{% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                          {{ form.as_p }}
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-primary" name="submit" value="Save">
                    <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}