{% extends "app/base.html" %}
{% block title %}Update{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" action="{% url 'update' person.id %}" method="post">
            <div class="modal-header">
                <h5>Update</h5>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">{% csrf_token %}
                        <label>{{ form.first_name.label }}</label>
                        <br />
                        {{ form.first_name }}
                        <br />
                        <br />
                        <label>{{ form.last_name.label }}</label>
                        <br />
                        {{ form.last_name }}
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-primary" name="submit" value="Save">
                    <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                        Close
                    </button>
                </div>
            </div>
        </form>            
    </div>
</div>
{% endblock %}